<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div growl></div>
		<div class="container" ng-controller="UserCtrl">
			<div class="col-xs-12">
				<h1>User List</h1>
				<div class="row">
					<div class="col-xs-3">
						<span ng-show="pagination.page > 1"><a ng-click="prevPage()">&laquo; Previous {{pagination.perPage}} Users</a> | </span>Showing {{pagination.start}}-{{pagination.end}} of {{pagination.totalUsers}} users<span ng-show="pagination.page < pagination.total"> | <a ng-click="nextPage()">Next {{pagination.perPage}} Users &raquo;</a></span>
					</div>
					<div class="col-xs-3">
						<input type="text" class="form-control input-sm" placeholder="filter" ng-model="query"/>
					</div>
					<div class="col-xs-3 col-xs-offset-3">
						<button class="btn btn-primary btn-sm pull-right" ng-click="addUser()">Add User</button>

					</div>
				</div>
				<div class="clearfix"></div>
				<hr />
				
				<form novalidate name="userForm">
					<table class="table table-condensed table-bordered table-hover">
						<thead>
							<tr table-sort="tableSort">
								<th sort-column="name.last">Last Name</th>
								<th sort-column="name.first">First Name</th>
								<th sort-column="email">Email</th>
								<th sort-column="age">Age</th>
								<th sort-column="createdOn">Created</th>
								<th sort-column="editedOn">Last Modified</th>

								<th sort-column="active">Active</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users | filter:query | orderBy:tableSort.sorter | slice:((pagination.page - 1) * pagination.perPage):(pagination.page * pagination.perPage)" ng-click="editUser(user)">
								<td>
									<span ng-show="editing == user">
										<input type="text" ng-model="user.form.name.last" ng-required="editing==user" ng-class="{'error':!user.form.name.last.length}" />
									</span>
									<span ng-hide="editing == user">
										{{user.name.last}}
									</span>
								</td>
								<td>
									<span ng-show="editing == user">
										<input type="text" ng-model="user.form.name.first" ng-required="editing==user"  ng-class="{'error':!user.form.name.first.length}" />
									</span>
									<span ng-hide="editing == user">
										{{user.name.first}}
									</span>
								</td>
								<td>
									<span ng-show="editing == user">
										<input type="email" name="email[{{$index}}]" ng-required="editing==user"  ng-model="user.form.email" ng-class="{'error':!user.form.email.length || userForm.email[$index].$invalid} " />
									</span>
									<span ng-hide="editing == user">
										{{user.email}}
									</span>
								</td>
								<td>
									<span ng-show="editing == user">
										<input type="number" ng-model="user.form.age"/>
									</span>
									<span ng-hide="editing == user">
										{{user.age}}
									</span>
								</td>
								<td>
									{{user.createdOn | date:'MM/dd/yyyy'}}<br />
									<span class="text-muted">{{user.createdOn | date:'mediumTime'}}</span>
								</td>
								<td>
									{{user.editedOn | date:'MM/dd/yyyy'}}<br />
									<span class="text-muted">{{user.editedOn | date:'mediumTime'}}</span>
								</td>
								<td>
									<span ng-show="editing == user">
										<button type="button" ng-click="toggleActive(user)" ng-class="{'btn-success':user.form.active}" class="btn btn-sm btn-default"><i class="fa fa-check-square"></i></button>
									</span>
									<span ng-hide="editing == user" >
										<i ng-show="user.active" class="fa fa-check-square"></i>
									</span>
								</td>
								<td>
									<div class="btn-group pull-right">
										<button class="btn btn-sm btn-success" ng-click="saveUser(user)" ng-show="editing==user" title="save"><i class="fa fa-save"></i></button>
										<button type="button" class="btn btn-sm btn-default" ng-click="revertUser(user)" ng-show="editing==user" title="revert"><i class="fa fa-undo"></i></button>
										<button type="button" class="btn btn-sm btn-danger" ng-click="deleteUser(user)"><i class="fa fa-times"></i></button>
									</div>
								</td>
							</tr>
						</tbody>
					

					</table>
					<span ng-show="pagination.page > 1"><a ng-click="prevPage()">&laquo; Previous {{pagination.perPage}} Users</a> | </span>Showing {{pagination.start}}-{{pagination.end}} of {{pagination.totalUsers}} users<span ng-show="pagination.page < pagination.total"> | <a ng-click="nextPage()">Next {{pagination.perPage}} Users &raquo;</a></span>
				</form>
			</div>
			
		</div>

		<script src="js/app.js"></script>
		
	</body>
</html>